<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
  "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title>SEER Demonstration</title>
    <link rel="stylesheet" href="../static/js/external/webix/codebase/webix.css " type="text/css" charset="utf-8">
    <script src="../static/js/external/webix/codebase/webix.js" type="text/javascript" charset="utf-8"></script>
</head>
  <body>
  <div id="mainForm" align="center"></div>

  <script type="text/javascript" charset="utf-8">

	var form1 = [
      { template:"SEER Demonstration ", type:"header" },
		{ cols:[
				{ view:"label", label:'  ', height:20, align:"left", inputWidth: 120, maxWidth: 120  },
			]
		},
		{ view: "uploader", value: 'Добавить файл',
			id: "file_uploader",
			link:"mylist",  upload:"add_files",
			autosend: false,
			multiple: false,
		},
		{ view:"list",  id:"mylist", type:"uploader",
			autoheight:true, borderless:true,
			on_click:{
				"remove_file":function(ev, id){
					$$(this.config.uploader).files.remove(id);
				}
			},
		},
		{ margin:95, cols:[{ view:"button", value:"Отправить" , type:"form", click: save_form},]},
		{ cols:[
				{ view:"label", label:'  ', height:20, align:"left", inputWidth: 120, maxWidth: 120  },
			]
		},
	];
		webix.ui(
			{  align:"center,top", body:{ view:"form", container:"mainForm", id: "form_request",elements:form1,
				scroll:false,  width:600 } }
		);

    function get_json(){
    }

    function save_form(){
		var names = [];
        if ($$("mylist").data.each)
        	$$("mylist").data.each(function(obj){  names.push(obj.name);});
        var all_names =  names.join(", ");		$$("file_uploader").define("formData",
		{ file:"file", filename:  all_names});

		var upl = $$("file_uploader")
		var fl = upl.getValue()
		var count_files = $$("mylist").data.count();
		if ($$("mylist").data.count() > 0)
			$$("file_uploader").send(function(response){
        		<!--webix.message("Внимание !!!");-->
        		console.log("1")
        		if(response)
        		console.log("2")
          			<!--webix.message(response.status);-->
          			webix.send("result");
          	})
		else
        		consol.log("3")
		   submit()
	}
	function submit(){
		var params = $$("form_request").getValues()
        		console.log("4")
		<!--webix.send("add_files", params, "POST");-->
    }

</script> </body>
</html>
